@import url(https://fonts.googleapis.com/css?family=Raleway:400,300|Open+Sans:400,300);

body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Trebuchet MS', 'Verdana', Arial, sans-serif;
	font-weight: 300;
}

a {
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

a:hover, a:active {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', 'Open Sans', 'Helvetica Neue', Helvetica, 'Trebuchet MS', 'Verdana', Arial, sans-serif;
	font-weight: 300;
}

.icon-link {
	color: #333;
}

.icon-link:hover, .icon-link:active {
	color: #999;
}

.navbar {
	margin-bottom: 0px;
}

.jumbotron {
	padding: 50px;
	margin: 0px;
	background-image: url('/img/bg/011.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom;
	background-size: cover;
}

.title {
	display: inline-block;
	margin: 10px 0px;
	padding: 5px 30px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 4px;
	border: solid;
	border-width: 1px;
	border-color: #222;
	color: #fff;
}

.img-logo {
	opacity: 0.8;
}

.account-basic {
	color: #7ed321;
}

.account-bronze {
	color: #f59923;
}

.account-silver {
	color: #d4d4d4;
}

.account-gold {
	color: #f5d423;
}

.account-diamond {
	color: #79b7ff;
}

.section-gray {
	background-color: #f8f9fa;
}
